<footer id="footer-section" class="f-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <address id="c-address">
          <strong>{{companyName}} </strong><br>
          {{address}}<br>
           {{postCode}} {{city}} {{country}}<br>
           <abbr title="Phone" class="glyphicon glyphicon-earphone"> P:</abbr> {{phoneNumber}} <br>
           <abbr title="email" class="glyphicon glyphicon-envelope"> Email:</abbr> {{email}}
           <p><i class="glyphicon glyphicon-time"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
        </address>
        
  </div>
  <div class="col-lg-4">
    <ul class=" list-unstyled">
      <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Kontakt</a></li>
    </ul>

  </div>
          <div class="col-lg-4">
            &copy; Summer Beauty Cosmetic 2010 
              {{fullName}}
          </div>
</footer>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="dist/scripts/main.min.js"></script>
</body>
</html>
