{{>header}}
{{>menu}}

<section class="headings">
    <div class="container page-title">
        <div class="row">
            <div class="col-lg-12">
                <h1>KONTAKT</h1>
            </div>
        </div>
    </div> <!-- Page Title -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tpad">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2702.0083804154164!2d8.526807815968453!3d47.37275491209525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a1b59454261%3A0x27d6d0bf49554248!2sWerdstrasse+40%2C+8004+Z%C3%BCrich!5e0!3m2!1sde!2sch!4v1510329534493" width="100%" height="300" frameborder="0" style="border:0"  allowfullscreen></iframe>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section>
<div class="container">
        <div class="row">
            <div class="col-md-8 padding-bottom">
                <h3>Online Kontaktformular</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><span class="stern">*</span>Name:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><span class="stern">*</span>Telefon:</label>
                            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><span class="stern">*</span>Email:</label>
                            <input type="email" class="form-control" id="email" required data-validation-required-message="Email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Nachricht:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Nachrichten" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Senden</button>
                </form>
            </div>
        <!-- /.row -->
        <div class="col-lg-4 padding-top">
            <p>
                <h4>
                    Öffnungszeiten:

   

          
                </h4>
               <table class="table">
                      <tbody>
<tr>
    <td>Mo- Fr</td> <td>09:30 - 20:00 Uhr </td>
     
    </tr>
    <tr>
        <td>Sa </td> <td>08:00 - 16:00 Uhr</td>
    </tr>

                      </tbody>	
    </table>

            </p>
        <address id="c-address">
          <strong>{{companyName}} </strong><br>
          {{address}}<br>
           {{postCode}} {{city}} {{country}}<br>
           <abbr title="Phone" class="glyphicon glyphicon-earphone"></abbr> {{phoneNumber}} <br>
           <abbr title="email" class="glyphicon glyphicon-envelope"></abbr> {{email}}
        </address>
        
  </div>
    </div>
</div>
</section>
</section>
{{>footer}}